.jumbotron-custom {
  background: orange;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;

}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
